<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Random Password Generator</title>
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
</head>

<body>
    <div class="container" style="height: 550px; background-color: white;">
        <div class="row" style="height: 400px;">
            <div class="col my-auto">
                <p id="password" class="text-center fs-1">Password123</p>
            </div>
        </div>

        <div class="row">
            <div class="d-grid gap-2 col mx-auto">
                <button id="generatePassword" class="btn btn-primary btn-lg" type="button">Generate Password</button>
                <button id="copyPassword" class="btn btn-success btn-lg" type="button">Copy Password</button>
            </div>
        </div>
    </div>

    <script src="../models/generate-random-password.js"></script>
    <script src="../models/write-text-to-clipboard.js"></script>
</body>

</html>